.form{
    display:flex;
    gap:40px;
    width:100%;
    margin-top: 10px;
}

.imageContainer{
    width:50px;
    height:50px;
    /* border:1px solid black; */

    .userPic{
        width:50px;
        height:50px;
        object-fit: contain;
    }
}

.input{
    width:80%;
    padding:10px 20px;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
}

.button{
    border:1px solid black;
    border-radius: 20px;
    background: transparent;
    padding:0px 10px;
}

